

<div class="jumbotron">

		<h1> Rabbit Hole Brew Shop!</h1>

		<%= image_tag 'beer_home.jpg' %>
		<br>

		<center><%= link_to "Take a look at our Brews!", beers_path, class: "btn btn-default" %></center>

</div>
