/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	background-color: #0A0A0C;
 }

 

 .jumbotron {
 	background-color: #0A0A0C;
 }

h1,
 .jumbotron h1 {
 	color: #8C8479;
 	text-align: center;
 	padding-bottom: 20px;
 	font-family: 'Poiret One', cursive;
 }

 .jumbotron img{
 	width: 100%;
 	margin:0 auto;
 }

 .jumbotron a {
 	text-align: center;
 }
.caption .btn-default,
 .jumbotron .btn-default {
 	margin-top: 30px;
 	text-align: center;
 	border: 1px solid #8D2501;
 	background-color: #8C8479;
 	color: #FFF0DC;
 }

 .thumbnail {
 	
 	width: 300px;

 }

 .caption h3 {
 	color: #8C8479;
 	text-align: center;
 	font-size: 16px;
 }

 .caption h4 {
 	color: #8C8479;
 	text-align: center;
 	font-size: 12px;
 }

 #new_header {
 	color: #8C8479;
 	padding-bottom: 20px;
 	font-family: 'Poiret One', cursive;
}
 }

 .btn-primary {
 	border: 1px solid #8D2501;
 	background-color: #8C8479;
 	color: #FFF0DC;
 	margin-left; 30px;
 }

 .brews {
 	width: 100%;
 }
 .brews img {
 	height: 900px;
 	width: 600px;
 }

 .brews h3 {
 	color: #8C8479;
 	text-align: center;
 }

.row {
	margin-left: 50px;
}

.field {
	color: #8C8479;
 	margin-left: 30px;
 	padding-bottom: 30px;
 	font-size: 12px;
}

.actions {
	width: 80px;
	height: 25px;
	margin-left: 30px;
	padding-bottom: 40px;
}

